html {
    font-size: 1.2rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body */

body {
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    margin-left: 5%;
    margin-right: 5%;
    /* Utilizo la fuente de google fonts */
    font-family: "Montserrat", "IBM Plex Sans", sans-serif;
    font-weight: 100;
}

/* Pantalla para celulares */
@media (max-width: 480px) {
    body {
        font-size: 0.5rem;
    }
}

/* Header y Navegación */

.contenedor-header-nav {
    border-radius: 10px;
    border: solid 1px whitesmoke;
    margin: 20px;
    background-color: rgb(30, 30, 30);
}

/* Header */

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
}

.img-logo {
    width: 120px;
    height: 120px;
}

.titulo {
    margin-top: 20px;
    margin-right: 20px;
    color: whitesmoke;
    /* Utilizo la fuente de google fonts */
    font-family: "Playfair Display", serif;
}

/* Pantalla para celulares */
@media (max-width: 480px) {
    .img-logo {
        width: 40px;
        height: 40px;
    }

    h1 {
        font-size: 0.8rem;
    }
}

/* Navegación  */

.navegacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    padding: 10px;
    /* Utilizo la fuente de google fonts */
    font-family: "IBM Plex Sans", sans-serif;
    margin-bottom: 10px;
}

.navegacion a:hover {
    background-color: rgb(92, 92, 92);
    border-radius: 5px;
}

.navegacion a {
    color: rgb(255, 216, 87);
    text-decoration: none;
    font-family: Geneva, Tahoma, sans-serif;
    padding: 10px;
}

/* Pantalla para celulares */
@media (max-width: 480px) {

    .navegacion {
        padding: 5px;
    }
    .navegacion a {
        color: rgb(255, 216, 87);
        text-decoration: none;
        font-family: Geneva, Tahoma, sans-serif;
        padding: 5px;
    }
}

/* Sobre Mí */

.contenedor-sub-titulo-foto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.foto {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(92, 92, 92);
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 20px;
}

.img-foto {
    width: 80px;
    height: 80px;
}

/* Pantalla para celulares */
@media (max-width: 480px) {
    .img-foto {
        width: 40px;
        height: 40px;
    }
}

/* Secciones */

.contenedor-seccion {
    border-radius: 10px;
    border: solid 1px whitesmoke;
    margin: 20px;
    background-color: rgb(30, 30, 30);
}

.contenedor-secciones {
    display: grid;
    grid-template-columns: 10% 90%;
    border-radius: 10px;
    border: solid 1px whitesmoke;
    margin: 20px;
    background-color: rgb(44, 44, 44);
    align-items: center;
}

.sub-titulo {
    margin: 20px;
    /* Utilizo la fuente de google fonts */
    font-family: "Roboto", sans-serif;
}

h3 {
    /* Utilizo la fuente de google fonts */
    font-family: "Raleway", sans-serif;
}

.seccion {
    margin: 20px;
}

.seccion p {
    text-indent: 20px;
    margin-top: 20px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

/* Tarjetas */

.tarjeta {
    margin: 20px;
}

.contenedor-secciones:hover {
    background-color: rgb(92, 92, 92);
    border-radius: 5px;
}

.tarjeta p {
    text-indent: 20px;
    margin-top: 20px;
    text-align: justify;
}

.icono {
    width: 60px;
    height: 60px;
    margin-left: 10px;
}

/* Pantalla para celulares */
@media (max-width: 480px) {
    .icono {
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }
}

/* Portafolio */

.contenedor-portafolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}


.img-portafolio {
    width: 250px;
    height: 150px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.tarjeta-portafolio {
    display: flex;
    flex-wrap: wrap;
    width: 270px;
    height: 220px;
}

.tarjeta-portafolio:hover {
    background-color: rgb(92, 92, 92);
    border-radius: 5px;
}

.tarjeta-portafolio a {
    text-decoration: none;
    color: whitesmoke;
}

/* Pantalla para celulares */
@media (max-width: 480px) {
    .contenedor-portafolio {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        justify-content: center;
    }

    .img-portafolio {
        width: 180px;
        height: 100px;
        border-radius: 10px;
        margin-top: 10px;
        margin-left: 10px;
    }

    .tarjeta-portafolio {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 120px;
        margin: 10px;
    }
}

/* Habilidades */

.logo-tecnologias {
    width: 75px;
    height: 75px;
}

.logo-tecnologias:hover {
    filter: grayscale(100%);
}

.listas {
    list-style-type: none;
    /*Esto hace que no se muestren las viñetas*/
}

.habilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

/* Pantalla para celulares */
@media (max-width: 480px) {
    .logo-tecnologias {
        width: 60px;
        height: 60px;
    }
}

/* Peliculas */

.contenedor-peliculas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    border: solid 1px whitesmoke;
    margin: 20px;
    background-color: rgb(44, 44, 44);
    align-items: center;
}

.contenedor-peliculas:hover {
    background-color: rgb(92, 92, 92);
    border-radius: 5px;
}

.contenedor-iframe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}

iframe {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    height: 220px;
    border-radius: 10px;
    margin: 20px;
}

/* Pantalla para celulares */
@media (max-width: 480px) {
    iframe {
        display: flex;
        flex-wrap: wrap;
        width: 85%;
        height: 110px;
        border-radius: 10px;
        margin: 20px;
    }

    .contenedor-peliculas {
        display: grid;
        grid-template-columns: 1fr;
        border-radius: 10px;
        border: solid 1px whitesmoke;
        margin: 20px;
        background-color: rgb(44, 44, 44);
        align-items: center;
    }
}

/* Formulario */

.formulario {
    display: flex;
    flex-wrap: wrap;
}

.formulario-contacto {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    margin: 20px;
}

.form-input {
    height: 35px;
    margin-top: 20px;
    border: solid 1px;
    border-radius: 5px;
    padding-left: 10px;
    width: 100%;
}

.form-text-area {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 75px;
    margin: 20px;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 5px;
}

.contenedor-btn-enviar {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 20px;
}

/* Botón enviar */

.btn-enviar {
    width: 150px;
    height: 40px;
    background-color: rgb(78, 161, 71);
    color: whitesmoke;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.btn-enviar:hover {
    background-color: green;
    border-radius: 5px;
}

.contenedor-mensaje {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 20px;
}

/* Footer */

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.logo-footer {
    width: 75px;
    height: 75px;
}

.text-footer {
    color: #fff;
    line-height: 15px;
    text-align: right;
}

/* Pantalla para celulares */
@media (max-width: 480px) {
    .logo-footer {
        width: 45px;
        height: 45px;
    }
}

/* Dev */

.contenedor-dev {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.dev {
    color: #fff;
    text-decoration: none;
    margin-left: 25px;
    padding: 10px;
}

.dev:hover {
    background-color: rgb(92, 92, 92);
    border-radius: 5px;
}

/* Redes Sociales */

.redes {
    width: 20px;
    height: 20px;
}

.redes-sociales {
    display: flex;
    flex-wrap: wrap;
}

.redes-sociales li {
    padding: 10px;
}

.redes-sociales li:hover {
    background-color: rgb(92, 92, 92);
    border-radius: 100%;
    padding: 10px;
}

/* Pantalla para celulares */
@media (max-width: 480px) {
.redes-sociales li {
    padding: 3px;
}
}